body {
  background-color: #e9e2d0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  text-shadow: 4px 5px 5px rgba(79, 72, 79, 0.6);
  color: #4f484f;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: #4f323b;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: radial-gradient(
    1091px at 106.5% 111.5%,
    rgb(250, 246, 213) 0.1%,
    rgb(218, 147, 93) 42.2%,
    rgb(137, 86, 67) 74.3%,
    rgb(67, 39, 39) 100.2%
  );
  padding: 30px;
  box-shadow: 25px 6px 21px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city :last-child {
  border: none;
}

.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
